$sber-green: #26c93c;

// breakpoints
$grid-breakpoint-xs: 320px;
$grid-breakpoint-sm: 540px;
$grid-breakpoint-md: 820px;
$grid-breakpoint-lg: 1150px;
$grid-breakpoint-lgg: 1350px;
$grid-breakpoint-xl: 9999999px;
